In [190]:
from pandas_datareader import data as web
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [191]:
base_compra = pd.read_csv(r'C:\Users\natha\Documents\01-Projetos\carteira_ações\base_compras_acoes.csv')
base_compra

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade
0,Renda Variável,Ações,ITSA4,Holding,25/02/2022,"9,93",25
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,"9,16",51
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,"9,42",5
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,"25,07",30
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,"3,64",100
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,"23,81",20
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,"20,89",50
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,"21,66",50
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,"20,55",50
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,"5,95",20
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,"5,74",5
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,"4,88",100
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,"3,82",1
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,"3,81",99
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,"2,57",7
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,"2,51",5
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,"2,16",30
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,"14,37",30
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,"33,87",100

In [192]:
acoes = base_compra['Codigo'].unique()
acoes

array(['ITSA4', 'BBSE3', 'SAPR4', 'ENBR3', 'MGLU3', 'AESB3', 'BBAS3'],
      dtype=object)

In [193]:
base_sumarizada = base_compra.groupby(['Codigo']).sum(['Valor Compra','Quantidade'])
base_sumarizada

        Quantidade
Codigo
AESB3           30
BBAS3          100
BBSE3           30
ENBR3          170
ITSA4           81
MGLU3          267
SAPR4          100

In [194]:
import datetime as dt

# Busca as datas a serem usadas na consulta
hoje = dt.date.today().strftime('%m/%d/%Y')

ontem = dt.date.today() - dt.timedelta(1)
ontem = ontem.strftime('%m/%d/%Y')

hoje

'08/31/2022'

In [195]:
cotacao = pd.DataFrame()
# dividendos = pd.DataFrame()

for acao in acoes:
    temp = web.DataReader(
                    acao + '.SA',
                    data_source='yahoo',
                    start=hoje,
                    end=hoje)
    temp['acao'] = acao
    cotacao = cotacao.append(temp)

    # Busca os casos de dividendos 
    # temp = web.DataReader(
    #                 acao + '.SA',
    #                 data_source='yahoo-dividends',
    #                 start=hoje,
    #                 end=hoje)
    # temp['acao'] = acao
    # dividendos = dividendos.append(temp)
cotacao.reset_index()

C:\Users\natha\AppData\Local\Temp\ipykernel_12412\2868592993.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_12412\2868592993.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_12412\2868592993.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_12412\2868592993.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_12412\2868592993.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_12412\2868592993.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_12412\2868592993.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)

,Date,High,Low,Open,Close,Volume,Adj Close,acao
0,2022-08-31,9.400000,9.150000,9.360000,9.150000,29178300,9.150000,ITSA4
1,2022-08-31,28.680000,28.139999,28.230000,28.280001,5808900,28.280001,BBSE3
2,2022-08-31,3.580000,3.510000,3.560000,3.540000,5969100,3.540000,SAPR4
3,2022-08-31,23.450001,22.219999,22.219999,22.690001,7283600,22.690001,ENBR3
4,2022-08-31,4.620000,4.260000,4.570000,4.270000,179917400,4.270000,MGLU3
5,2022-08-31,9.770000,9.630000,9.680000,9.700000,2588800,9.700000,AESB3
6,2022-08-31,42.759998,41.480000,42.389999,41.689999,17895700,41.689999,BBAS3

In [196]:
cotacao = cotacao.drop(columns=['High','Low','Open','Volume'])

In [197]:
base_completa = base_compra.merge(cotacao, how='left', left_on=['Codigo'], right_on=['acao'])
base_completa

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade,Close,Adj Close,acao
0,Renda Variável,Ações,ITSA4,Holding,25/02/2022,"9,93",25,9.150000,9.150000,ITSA4
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,"9,16",51,9.150000,9.150000,ITSA4
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,"9,42",5,9.150000,9.150000,ITSA4
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,"25,07",30,28.280001,28.280001,BBSE3
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,"3,64",100,3.540000,3.540000,SAPR4
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,"23,81",20,22.690001,22.690001,ENBR3
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,"20,89",50,22.690001,22.690001,ENBR3
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,"21,66",50,22.690001,22.690001,ENBR3
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,"20,55",50,22.690001,22.690001,ENBR3
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,"5,95",20,4.270000,4.270000,MGLU3
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,"5,74",5,4.270000,4.270000,MGLU3
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,"4,88",100,4.270000,4.270000,MGLU3
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,"3,82",1,4.270000,4.270000,MGLU3
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,"3,81",99,4.270000,4.270000,MGLU3
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,"2,57",7,4.270000,4.270000,MGLU3
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,"2,51",5,4.270000,4.270000,MGLU3
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,"2,16",30,4.270000,4.270000,MGLU3
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,"14,37",30,9.700000,9.700000,AESB3
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,"33,87",100,41.689999,41.689999,BBAS3

In [198]:
base_completa['fechamento']= base_completa['Close'].round(2)
base_completa['preco_ajustado']= base_completa['Adj Close'].round(2)

base_completa['Valor Compra'] = base_completa['Valor Compra'].str.replace(',','.')
base_completa['Valor Compra'] = pd.to_numeric(base_completa['Valor Compra'])


base_completa.drop(columns=['Close','Adj Close','acao'],inplace=True)
base_completa

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade,fechamento,preco_ajustado
0,Renda Variável,Ações,ITSA4,Holding,25/02/2022,9.93,25,9.15,9.15
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,9.16,51,9.15,9.15
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,9.42,5,9.15,9.15
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,25.07,30,28.28,28.28
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,3.64,100,3.54,3.54
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,23.81,20,22.69,22.69
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,20.89,50,22.69,22.69
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,21.66,50,22.69,22.69
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,20.55,50,22.69,22.69
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.95,20,4.27,4.27
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.74,5,4.27,4.27
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,4.88,100,4.27,4.27
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.82,1,4.27,4.27
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.81,99,4.27,4.27
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,2.57,7,4.27,4.27
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,2.51,5,4.27,4.27
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,2.16,30,4.27,4.27
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,14.37,30,9.70,9.70
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,33.87,100,41.69,41.69

In [208]:
base_completa['total_investido_compra'] = base_completa['Valor Compra'] * base_completa['Quantidade']
base_completa['total_investido_hoje'] = base_completa['fechamento'] * base_completa['Quantidade']

base_completa['ganho_perda_hoje'] = base_completa['total_investido_hoje'] - base_completa['total_investido_compra'] 
base_completa['ganho_perda_hoje_percentual'] = round((base_completa['ganho_perda_hoje'] / base_completa['total_investido_compra']) *100, 2)

base_completa

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade,fechamento,preco_ajustado,total_investido_compra,total_investido_hoje,ganho_perda_hoje,ganho_perda_hoje_percentual
0,Renda Variável,Ações,ITSA4,Holding,25/02/2022,9.93,25,9.15,9.15,248.25,228.75,-19.50,-7.85
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,9.16,51,9.15,9.15,467.16,466.65,-0.51,-0.11
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,9.42,5,9.15,9.15,47.10,45.75,-1.35,-2.87
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,25.07,30,28.28,28.28,752.10,848.40,96.30,12.80
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,3.64,100,3.54,3.54,364.00,354.00,-10.00,-2.75
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,23.81,20,22.69,22.69,476.20,453.80,-22.40,-4.70
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,20.89,50,22.69,22.69,1044.50,1134.50,90.00,8.62
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,21.66,50,22.69,22.69,1083.00,1134.50,51.50,4.76
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,20.55,50,22.69,22.69,1027.50,1134.50,107.00,10.41
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.95,20,4.27,4.27,119.00,85.40,-33.60,-28.24
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.74,5,4.27,4.27,28.70,21.35,-7.35,-25.61
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,4.88,100,4.27,4.27,488.00,427.00,-61.00,-12.50
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.82,1,4.27,4.27,3.82,4.27,0.45,11.78
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.81,99,4.27,4.27,377.19,422.73,45.54,12.07
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,2.57,7,4.27,4.27,17.99,29.89,11.90,66.15
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,2.51,5,4.27,4.27,12.55,21.35,8.80,70.12
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,2.16,30,4.27,4.27,64.80,128.10,63.30,97.69
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,14.37,30,9.70,9.70,431.10,291.00,-140.10,-32.50
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,33.87,100,41.69,41.69,3387.00,4169.00,782.00,23.09

In [209]:
base_completa.columns

Index(['Tipo de investimento', 'Especidade', 'Codigo', 'Setor', 'data_compra',
       'Valor Compra', 'Quantidade', 'fechamento', 'preco_ajustado',
       'total_investido_compra', 'total_investido_hoje', 'ganho_perda_hoje',
       'ganho_perda_hoje_percentual'],
      dtype='object')

In [211]:
base_completa2 = base_completa.drop(columns=[ 'data_compra',
       'Valor Compra', 'Quantidade', 'fechamento', 'preco_ajustado','ganho_perda_hoje_percentual'])

In [212]:
base_completa2.groupby(['Tipo de investimento', 'Especidade', 'Codigo', 'Setor']).sum().reset_index()

,Tipo de investimento,Especidade,Codigo,Setor,total_investido_compra,total_investido_hoje,ganho_perda_hoje
0,Renda Variável,Ações,AESB3,Energia,431.10,291.00,-140.10
1,Renda Variável,Ações,BBAS3,Financeiro,3387.00,4169.00,782.00
2,Renda Variável,Ações,BBSE3,Seguros,752.10,848.40,96.30
3,Renda Variável,Ações,ENBR3,Energia,3631.20,3857.30,226.10
4,Renda Variável,Ações,ITSA4,Holding,762.51,741.15,-21.36
5,Renda Variável,Ações,MGLU3,Varejo,1112.05,1140.09,28.04
6,Renda Variável,Ações,SAPR4,Saneamento,364.00,354.00,-10.00

In [213]:
ganho_perda_total = base_completa2['ganho_perda_hoje'].sum()
ganho_perda_total

960.9800000000005