In [1]:
from pandas_datareader import data as web
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
base_compra = pd.read_csv(r'C:\Users\natha\Documents\01-Projetos\carteira_ações\base_compras_acoes.csv')
base_compra

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade
0,Renda Variável,Ações,ITSA4,Holding,25/02/2022,"9,93",25
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,"9,16",51
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,"9,42",5
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,"25,07",30
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,"3,64",100
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,"23,81",20
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,"20,89",50
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,"21,66",50
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,"20,55",50
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,"5,95",20
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,"5,74",5
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,"4,88",100
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,"3,82",1
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,"3,81",99
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,"2,57",7
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,"2,51",5
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,"2,16",30
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,"14,37",30
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,"33,87",100

In [3]:
acoes = base_compra['Codigo'].unique()
acoes

array(['ITSA4', 'BBSE3', 'SAPR4', 'ENBR3', 'MGLU3', 'AESB3', 'BBAS3'],
      dtype=object)

In [4]:
base_sumarizada = base_compra.groupby(['Codigo']).sum(['Valor Compra','Quantidade'])
base_sumarizada

        Quantidade
Codigo
AESB3           30
BBAS3          100
BBSE3           30
ENBR3          170
ITSA4           81
MGLU3          267
SAPR4          100

In [5]:
import datetime as dt

# Busca as datas a serem usadas na consulta
hoje = dt.date.today().strftime('%m/%d/%Y')

if dt.date.today().weekday() == 6:
    n = 2
else:
    n = 1

ontem = dt.date.today() - dt.timedelta(n)
ontem = ontem.strftime('%m/%d/%Y')

ontem

'09/04/2022'

In [6]:


n

1

In [7]:
cotacao = pd.DataFrame()
# dividendos = pd.DataFrame()

for acao in acoes:
    temp = web.DataReader(
                    acao + '.SA',
                    data_source='yahoo',
                    start=ontem,
                    end=hoje)
    temp['acao'] = acao
    cotacao = cotacao.append(temp)

    # Busca os casos de dividendos 
    # temp = web.DataReader(
    #                 acao + '.SA',
    #                 data_source='yahoo-dividends',
    #                 start=hoje,
    #                 end=hoje)
    # temp['acao'] = acao
    # dividendos = dividendos.append(temp)
    
cotacao.reset_index()

C:\Users\natha\AppData\Local\Temp\ipykernel_4828\4057988154.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_4828\4057988154.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_4828\4057988154.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_4828\4057988154.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_4828\4057988154.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_4828\4057988154.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)
C:\Users\natha\AppData\Local\Temp\ipykernel_4828\4057988154.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cotacao = cotacao.append(temp)

,Date,High,Low,Open,Close,Volume,Adj Close,acao
0,2022-09-05,9.450000,9.300000,9.340000,9.410000,19066900,9.410000,ITSA4
1,2022-09-05,28.790001,28.400000,28.500000,28.680000,3158100,28.680000,BBSE3
2,2022-09-05,3.580000,3.540000,3.560000,3.560000,2309700,3.560000,SAPR4
3,2022-09-05,23.040001,22.590000,22.930000,22.660000,1582400,22.660000,ENBR3
4,2022-09-05,4.390000,4.260000,4.310000,4.320000,69154500,4.320000,MGLU3
5,2022-09-05,9.900000,9.780000,9.840000,9.860000,2641300,9.860000,AESB3
6,2022-09-05,42.900002,41.450001,42.900002,41.630001,13484400,41.630001,BBAS3

In [8]:
cotacao = cotacao.drop(columns=['High','Low','Open','Volume'])

In [9]:
base_completa = base_compra.merge(cotacao, how='left', left_on=['Codigo'], right_on=['acao'])
base_completa

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade,Close,Adj Close,acao
0,Renda Variável,Ações,ITSA4,Holding,25/02/2022,"9,93",25,9.410000,9.410000,ITSA4
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,"9,16",51,9.410000,9.410000,ITSA4
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,"9,42",5,9.410000,9.410000,ITSA4
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,"25,07",30,28.680000,28.680000,BBSE3
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,"3,64",100,3.560000,3.560000,SAPR4
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,"23,81",20,22.660000,22.660000,ENBR3
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,"20,89",50,22.660000,22.660000,ENBR3
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,"21,66",50,22.660000,22.660000,ENBR3
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,"20,55",50,22.660000,22.660000,ENBR3
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,"5,95",20,4.320000,4.320000,MGLU3
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,"5,74",5,4.320000,4.320000,MGLU3
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,"4,88",100,4.320000,4.320000,MGLU3
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,"3,82",1,4.320000,4.320000,MGLU3
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,"3,81",99,4.320000,4.320000,MGLU3
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,"2,57",7,4.320000,4.320000,MGLU3
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,"2,51",5,4.320000,4.320000,MGLU3
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,"2,16",30,4.320000,4.320000,MGLU3
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,"14,37",30,9.860000,9.860000,AESB3
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,"33,87",100,41.630001,41.630001,BBAS3

In [10]:
base_completa.columns

Index(['Tipo de investimento', 'Especidade', 'Codigo', 'Setor', 'data_compra',
       'Valor Compra', 'Quantidade', 'Close', 'Adj Close', 'acao'],
      dtype='object')

In [11]:
base_completa['fechamento']= base_completa['Close'].round(2)
base_completa['preco_ajustado']= base_completa['Adj Close'].round(2)

base_completa['Valor Compra'] = base_completa['Valor Compra'].str.replace(',','.')
base_completa['Valor Compra'] = pd.to_numeric(base_completa['Valor Compra'])


base_completa.drop(columns=['Close','Adj Close','acao'],inplace=True)
base_completa

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade,fechamento,preco_ajustado
0,Renda Variável,Ações,ITSA4,Holding,25/02/2022,9.93,25,9.41,9.41
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,9.16,51,9.41,9.41
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,9.42,5,9.41,9.41
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,25.07,30,28.68,28.68
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,3.64,100,3.56,3.56
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,23.81,20,22.66,22.66
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,20.89,50,22.66,22.66
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,21.66,50,22.66,22.66
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,20.55,50,22.66,22.66
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.95,20,4.32,4.32
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.74,5,4.32,4.32
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,4.88,100,4.32,4.32
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.82,1,4.32,4.32
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.81,99,4.32,4.32
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,2.57,7,4.32,4.32
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,2.51,5,4.32,4.32
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,2.16,30,4.32,4.32
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,14.37,30,9.86,9.86
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,33.87,100,41.63,41.63

In [12]:
base_completa['total_investido_compra'] = base_completa['Valor Compra'] * base_completa['Quantidade']
base_completa['total_investido_hoje'] = base_completa['fechamento'] * base_completa['Quantidade']

base_completa['ganho_perda_hoje'] = base_completa['total_investido_hoje'] - base_completa['total_investido_compra'] 
base_completa['ganho_perda_hoje_percentual'] = round((base_completa['ganho_perda_hoje'] / base_completa['total_investido_compra']) *100, 2)

base_completa

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade,fechamento,preco_ajustado,total_investido_compra,total_investido_hoje,ganho_perda_hoje,ganho_perda_hoje_percentual
0,Renda Variável,Ações,ITSA4,Holding,25/02/2022,9.93,25,9.41,9.41,248.25,235.25,-13.00,-5.24
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,9.16,51,9.41,9.41,467.16,479.91,12.75,2.73
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,9.42,5,9.41,9.41,47.10,47.05,-0.05,-0.11
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,25.07,30,28.68,28.68,752.10,860.40,108.30,14.40
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,3.64,100,3.56,3.56,364.00,356.00,-8.00,-2.20
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,23.81,20,22.66,22.66,476.20,453.20,-23.00,-4.83
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,20.89,50,22.66,22.66,1044.50,1133.00,88.50,8.47
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,21.66,50,22.66,22.66,1083.00,1133.00,50.00,4.62
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,20.55,50,22.66,22.66,1027.50,1133.00,105.50,10.27
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.95,20,4.32,4.32,119.00,86.40,-32.60,-27.39
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.74,5,4.32,4.32,28.70,21.60,-7.10,-24.74
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,4.88,100,4.32,4.32,488.00,432.00,-56.00,-11.48
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.82,1,4.32,4.32,3.82,4.32,0.50,13.09
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.81,99,4.32,4.32,377.19,427.68,50.49,13.39
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,2.57,7,4.32,4.32,17.99,30.24,12.25,68.09
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,2.51,5,4.32,4.32,12.55,21.60,9.05,72.11
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,2.16,30,4.32,4.32,64.80,129.60,64.80,100.00
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,14.37,30,9.86,9.86,431.10,295.80,-135.30,-31.38
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,33.87,100,41.63,41.63,3387.00,4163.00,776.00,22.91

In [13]:
base_completa.columns

Index(['Tipo de investimento', 'Especidade', 'Codigo', 'Setor', 'data_compra',
       'Valor Compra', 'Quantidade', 'fechamento', 'preco_ajustado',
       'total_investido_compra', 'total_investido_hoje', 'ganho_perda_hoje',
       'ganho_perda_hoje_percentual'],
      dtype='object')

In [14]:
base_completa2 = base_completa.drop(columns=[ 'data_compra',
       'Valor Compra', 'Quantidade', 'fechamento', 'preco_ajustado','ganho_perda_hoje_percentual'])

In [15]:
base_completa2.groupby(['Tipo de investimento', 'Especidade', 'Codigo', 'Setor']).sum().reset_index()

,Tipo de investimento,Especidade,Codigo,Setor,total_investido_compra,total_investido_hoje,ganho_perda_hoje
0,Renda Variável,Ações,AESB3,Energia,431.10,295.80,-135.30
1,Renda Variável,Ações,BBAS3,Financeiro,3387.00,4163.00,776.00
2,Renda Variável,Ações,BBSE3,Seguros,752.10,860.40,108.30
3,Renda Variável,Ações,ENBR3,Energia,3631.20,3852.20,221.00
4,Renda Variável,Ações,ITSA4,Holding,762.51,762.21,-0.30
5,Renda Variável,Ações,MGLU3,Varejo,1112.05,1153.44,41.39
6,Renda Variável,Ações,SAPR4,Saneamento,364.00,356.00,-8.00

In [20]:
base_completa.iloc[1:, :]

,Tipo de investimento,Especidade,Codigo,Setor,data_compra,Valor Compra,Quantidade,fechamento,preco_ajustado,total_investido_compra,total_investido_hoje,ganho_perda_hoje,ganho_perda_hoje_percentual
1,Renda Variável,Ações,ITSA4,Holding,02/03/2022,9.16,51,9.41,9.41,467.16,479.91,12.75,2.73
2,Renda Variável,Ações,ITSA4,Holding,19/03/2022,9.42,5,9.41,9.41,47.10,47.05,-0.05,-0.11
3,Renda Variável,Ações,BBSE3,Seguros,06/07/2022,25.07,30,28.68,28.68,752.10,860.40,108.30,14.40
4,Renda Variável,Ações,SAPR4,Saneamento,06/07/2022,3.64,100,3.56,3.56,364.00,356.00,-8.00,-2.20
5,Renda Variável,Ações,ENBR3,Energia,01/04/2022,23.81,20,22.66,22.66,476.20,453.20,-23.00,-4.83
6,Renda Variável,Ações,ENBR3,Energia,01/05/2022,20.89,50,22.66,22.66,1044.50,1133.00,88.50,8.47
7,Renda Variável,Ações,ENBR3,Energia,30/05/2022,21.66,50,22.66,22.66,1083.00,1133.00,50.00,4.62
8,Renda Variável,Ações,ENBR3,Energia,04/07/2022,20.55,50,22.66,22.66,1027.50,1133.00,105.50,10.27
9,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.95,20,4.32,4.32,119.00,86.40,-32.60,-27.39
10,Renda Variável,Ações,MGLU3,Varejo,20/04/2022,5.74,5,4.32,4.32,28.70,21.60,-7.10,-24.74
11,Renda Variável,Ações,MGLU3,Varejo,02/05/2022,4.88,100,4.32,4.32,488.00,432.00,-56.00,-11.48
12,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.82,1,4.32,4.32,3.82,4.32,0.50,13.09
13,Renda Variável,Ações,MGLU3,Varejo,30/05/2022,3.81,99,4.32,4.32,377.19,427.68,50.49,13.39
14,Renda Variável,Ações,MGLU3,Varejo,15/06/2022,2.57,7,4.32,4.32,17.99,30.24,12.25,68.09
15,Renda Variável,Ações,MGLU3,Varejo,21/05/2022,2.51,5,4.32,4.32,12.55,21.60,9.05,72.11
16,Renda Variável,Ações,MGLU3,Varejo,04/07/2022,2.16,30,4.32,4.32,64.80,129.60,64.80,100.00
17,Renda Variável,Ações,AESB3,Energia,17/06/2022,14.37,30,9.86,9.86,431.10,295.80,-135.30,-31.38
18,Renda Variável,Ações,BBAS3,Financeiro,19/07/2022,33.87,100,41.63,41.63,3387.00,4163.00,776.00,22.91

In [16]:
ganho_perda_total = base_completa2['ganho_perda_hoje'].sum()
ganho_perda_total

1003.0900000000004